/*公用部分*/
html,
body {
	background-color: #F0F2F5;
}

table {
	width: 100%;
}

div[type="subtable"]:last-of-type {
	margin-bottom: 40px;
	padding: 0 60px 20px;
}

div[type="subtable"]:first-of-type {
	padding-top: 20px;
}
div[type="sub"]:first-of-type {
	margin-top: 20px;
}
div[type="sub"]:last-of-type {
	margin-bottom: 20px;
}
div[type="sub"] {
	font-size: 14px;
	color: #000;
	margin: 0 auto;
	background-color: #fff;
	width: 60%;
	padding: 30px 60px;
}

table.formTable,
td.teamHead,
td.formTitle,
td.formInput {
	border: none;
}

a {
	cursor: pointer;
}

input[readonly] {
	background-color: #F0F0F0;
}

.formTable input[type="text"],
.formTable select {
	padding: 7px 10px;
}


/*特殊部分*/
.formTable-wrap.three .formTable td.formTitle{
	text-align: right;
}
.formTable-wrap.three .formTable td.formInput label,
.formTable-wrap.four .formTable td.formInput label {
	margin-bottom: 10px;
}

.formTable-wrap.three .formTable td.formInput label:last-child,
.formTable-wrap.four .formTable td.formInput label:last-child {
	margin-bottom: 0px;
}
.formTable-wrap.one .formTable .l-text-wrapper,
.formTable-wrap.one .formTable .l-text-combobox,
.formTable-wrap.one .formTable .l-text-combobox input{
	width: 97%!important;
}
.formTable-wrap.two .formTable .l-text-wrapper,
.formTable-wrap.two .formTable .l-text-combobox,
.formTable-wrap.two .formTable .l-text-combobox input {
	width: 97%!important;
}
.formTable-wrap.three .formTable .l-text-wrapper,
.formTable-wrap.three .formTable .l-text-combobox,
.formTable-wrap.three .formTable .l-text-combobox input {
	width: 94.4%!important;
}

.formTable-wrap.four .formTable .l-text-wrapper,
.formTable-wrap.four .formTable .l-text-combobox,
.formTable-wrap.four .formTable .l-text-combobox input {
	width: 94%!important;
}

/*顶部按钮*/

.panel-toolbar {
	padding: 15px 15px 15px 10px;
	height: 60px;
	/* height:auto; */
}

.panel-toolbar a.link {
	font-size: 14px;
}

.panel-toolbar a.run,
.panel-toolbar a.agree,
.panel-toolbar a.goForward {
	background: #10C66B !important;
	border: 1px solid #10C66B;
	color: #fff;
}

.panel-toolbar a.reject,
.panel-toolbar a.rejectToStart,
.panel-toolbar a.abandon {
	background: #FAA525 !important;
	border: 1px solid #FAA525;
	color: #fff;
}

.panel-toolbar a.search,
.panel-toolbar a.save,
.panel-toolbar a.reset,
.panel-toolbar a.flowDesign,
.panel-toolbar a.setting,
.panel-toolbar a.history,
.panel-toolbar a.print,
.panel-toolbar a.copyTo,
.panel-toolbar a.copy,
.panel-toolbar a.detail,
.panel-toolbar a.sendMessage,
.panel-toolbar a.switchuser {
	background: #459FFF !important;
	border: 1px solid #459FFF;
	color: #fff;
}

.panel-toolbar .toolBar > div > img {
	padding-left: 10px;
	max-width: 100%;
}

.group {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

a.attachment {
	text-decoration: none;
	font-size: 13px;
	color: #606060;
}


/*表单*/

.formTable-wrap {
	width: 60%;
	padding: 30px 60px;
	margin: 0 auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fff;
}

.formTable-wrap .formTable {
	color: #000;
	position: relative;
	font-size: 14px;
}

.formTable td.formHead {
	text-align: center;
	font-size: 24px;
	color: #363E62;
	padding-bottom: 20px;
	border: none;
}

.formTable td.teamHead {
	background: transparent;
	color: #363E62;
	font-size: 18px;
	font-weight: lighter;
}

.listTable td.formHead p,
.formTable td.teamHead p {
	border-bottom: 1px dashed #89969F;
	padding-bottom: 5px;
	margin: 10px 0px 25px 0px;
	text-align: left;
}

.listTable td.formHead p>span,
.formTable td.teamHead p>span {
	border-left: 5px solid #459FFF;
	padding: 0px 8px;
}

.formTable tbody:first-child {
	width: 100%;
	text-align: center;
}

.formTable tbody>tr:first-child {
	width: 100%;
	display: table-row;
	margin-left: 60px;
	margin-bottom: 20px;
	padding: 20px 0px 15px 0px;
}

.formTable tbody:first-child>tr:first-child {
	margin-left: 0px;
	display: table-row;
	width: 100%;
}

.formTable tr.firstRow {
	float: initial;
	display: initial;
	border-bottom: 0px;
}

.formTable td.formTitle {
	position: relative;
	background: transparent;
	width: 120px!important;
	padding-bottom: 20px;
}

.formTable td.formInput {
	padding: 0px 0px 20px 10px;
	text-align: left;
}

.formTable .l-text-wrapper,
.formTable .l-text-combobox,
.formTable .l-text-combobox input {
	width: 99% !important;
	height: 36px !important;
	padding-left: 10px;
}

.formTable .l-text-combobox input {
	border: 1px solid #E6E6E6;
	margin: -3px 0px 0px -9px;
}

.formTable input[type="text"],
.formTable select {
	border: 1px solid #E6E6E6;
	height: 36px;
	box-sizing: border-box;
	padding: 7px 15px;
}

.formTable input[type="text"] {
	width: 100%;
}

.formTable select {
	width: 100%;
}

input[type="radio"]::before {
	border-radius: 50%;
}

input[type="checkbox"],
input[type="radio"] {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: sub;
	position: relative;
	margin-bottom: 5px;
	margin: 0 6px 5px 15px;
}

.formTable td.formInput label {
	display: inline-block;
	margin-top: 5px;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	background: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid #E6E6E6;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
	content: "\2713" !important;
	background-color: #459FFF !important;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
}

.formTable td.formInput>div {
	position: relative;
}

.formTable td.formInput {
	position: relative;
}

.formTable td.formInput>div>a.link {
	position: absolute;
	right: -1px;
	display: block;
	top: 0;
	line-height: 36px;
	height: 36px;
	padding: 0 16px;
	background: #459FFF;
	color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.formTable td.formInput>a.extend {
	position: absolute;
	right: -1px;
	display: block;
	top: 0;
	line-height: 36px;
	height: 36px;
	padding: 0 15px;
	background: #459FFF;
	color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.formTable textarea {
	border: 1px solid #E6E6E6;
	width: 100% !important;
	height: 100px;
	box-sizing: border-box;
	padding-left: 10px;
}

.formTable tbody:last-child>tr:first-child {
	border-bottom: 0px;
	margin: 0px;
	padding: 0px;
	display: table-row;
	float: none;
}

.formTable tbody#qt>tr:nth-child(3) {
	margin-top: 35px;
}

.formTable tbody#qt>tr:nth-child(2)>td:last-child>div,
.formTable .formInput div[name="div_attachment_container"] {
	float: left;
	width: 100%;
	padding-bottom: 40px;
}

.formTable div.attachement,
.l-dialog-tck div.attachement,
.listTable tr.listRow td div.attachement {
	max-width: 100%;
	white-space: pre-wrap;
}

div.attachement {
	float: left;
	overflow: hidden;
	padding: 3px 0 0;
	/* white-space: nowrap; */
}

.formTable span.attachement-span,
.l-dialog-tck span.attachement-span {
	padding: 1px 3px 1px 5px;
	max-width: 100%;
}

.formTable span.attachement-span>span,
.l-dialog-tck span.attachement-span>span {
	display: inline-block;
}

.formTable span.attachement-span>span>a,
.l-dialog-tck span.attachement-span>span>a {
	max-width: 100%;
	display: inline-block;
}

.formTable tbody#qt>tr:nth-child(2)>td:last-child a.link {
	bottom: 0;
	top: auto;
}

.formTable tbody#qt>tr>td.formInput {
	width: 88%;
}

.formTable a.selectFile {
	left: 0px;
	width: 30px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 3px;
}

.formTable .l-trigger,
.formTable .l-trigger-hover,
.formTable .l-trigger-pressed {
	width: 15px;
	height: 38px !important;
	cursor: default;
}

.formTable .l-trigger-pressed,
.formTable .l-trigger-hover {
	background: #459FFF !important;
	border: 1px solid #459FFF !important;
	height: 38px !important;
}

.formTable .l-trigger,
.formTable .l-trigger-hover,
.formTable .l-trigger-pressed {
	top: -3px;
	right: -8px;
}

.formTable .l-trigger {
	background: #459FFF;
	border: 1px solid #459FFF;
}

.formTable .l-trigger-hover {
	background: #459FFF;
	border: 1px solid #459FFF;
}


/*子表*/

div[type="subtable"] {
	clear: both;
	position: relative;
	min-height: 100px;
}

.content,
div[type="subtable"] {
	font-size: 14px;
	color: #000;
	width: 60%;
	padding: 0 60px;
	margin: 0 auto;
	background-color: #fff;
}

.content p {
	display: none;
}

.l-tab-links {
	height: auto;
	position: absolute;
	width: auto;
	right: 50px;
	top: 15px;
}

.subTableToolBar a.link.add {
	color: #459FFF;
	font-size: 14px;
}

.listTable .inputText,
.listTable tr.firstRow {
	height: 35px;
	box-sizing: border-box;
}

.listTable select {
	height: 30px;
}

.listTable .headRow {
	border: 1px solid #EBEEF5;
	background: #EBEEF5;
	height: 45px;
	font-size: 14px;
	color: #303133;
	line-height: 45px;
	font-weight: bold;
}

.listTable .headRow>div {
	float: left;
	text-align: center;
}

.listTable .listRow {
	border: 1px solid #EBEEF5;
	border-top: none;
	font-size: 12px;
	line-height: 45px;
	float: left;
	width: calc(100% - 2px);
}

.listTable .listRow>div {
	float: left;
	text-align: center;
}

.listTable .listRow>div>.inputText,
.listTable .listRow>div>select {
	margin-top: 9px;
	width: 90%;
}

.listTable .listRow>div>a {
	cursor: pointer;
}

.listTable tr.special-td {
	background-color: #F5F7FA;
}

.listTable tr.special-td td {
	padding: 15px;
	text-align: left;
}

.listTable tr.special-td a {
	color: #459FFF;
	font-size: 14px;
	margin-right: 20px;
	padding-left: 25px;
	cursor: pointer;
}

.listTable tr.headRow {
	border: 1px solid #EBEEF5;
	background: #EBEEF5;
	height: 45px;
}

.listTable td.formHead {
	border: none;
	background: transparent;
	color: #363E62;
	font-size: 18px;
	padding-bottom: 15px;
}

.listTable td.teamHead {
	background-color: #F5F7FA;
	color: #4D4D4D;
	text-align: center;
	border: 1px solid #EBEEF5;
	font-weight: lighter;
	font-size: 16px;
	height: 41px;
	min-width:50px;
}

.listTable td.teamHead.num {
	padding: 0px 20px;
}

.listTable td.formTitle {
	background-color: #fff;
	font-size: 14px;
	padding-right: 10px;
	width: 100px!important;
}

/*.listTable td.formInput {*/
	/*padding: 0;*/
/*}*/

.listTable td.formInput input {
	width: 95%;
	font-size: 14px;
	padding-left: 10px;
}

.listTable th {
	border: 1px solid #EBEEF5;
	background-color: #F5F7FA;
	font-size: 14px;
	color: #4D4D4D;
	text-align: center;
	font-weight: lighter;
	white-space: nowrap;
	padding: 0 20px;
}

.listTable tr.listRow td {
	border: 1px solid #EBEEF5;
	text-align: center;
	font-size: 14px;
	word-break: break-word;
	line-height: 15px;
}
.listTable tr.listRow td input.Wdate {
	height: 36px;
	font-size: 14px;
	padding-left: 10px;
}
.listTable tr.listRow td .l-text-wrapper {
	height: auto !important;
	width: 96% !important;
}
.listTable tr.listRow td .l-text-wrapper .l-text {
	height: 30px !important;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #ced7e0;
}
.listTable tr.listRow td .l-text-wrapper .l-text input {
	width: 85% !important;
	height: 32px !important;
}
.listTable tr.listRow td span.attachement-span a.cancel {
	margin-left: 3px;
}
.listTable tr.listRow td div[name="div_attachment_container"],
.listTable td.formInput div[name="div_attachment_container"] {
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 40px;
}
.listTable tr.listRow td div[name="div_attachment_container"] a.link {
	left: 0;
}

.listTable tr.listRow {
	border: 1px solid #EBEEF5;
	height: 45px;
	line-height: 45px;
	width: 100%;
	float: none;
}

.listTable tr.listRow td select,
.listTable tr.listRow td .inputText,
.listTable tr.listRow td .inputnumber {
	border: 1px solid #DCDFE6;
	width: 120px;
	padding-left: 10px;
}

.listTable tr.firstRow {
	width: 100%;
}

.listTable tr.headRow {
	float: none;
}

.listTable td {
	border-left: 0;
}

.listTable td.teamHead.sm-title {
	text-align: left;
	border: 0px;
	padding: 10px 15px;
	height: 0px;
}

.listTable .oprate-item {
	position: relative;
}

.listTable .oprate-item a {
	color: #459FFF;
	font-size: 14px;
}

.listTable .oprate-item a.oprate {
	margin-left: 15px;
	width: 20px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.listTable .oprate-item a.oprate-xs {
	margin-left: 15px;
	width: 20px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.listTable .oprate-item a img {
	vertical-align: sub;
}

.listTable .child-menu {
	display: none;
	box-shadow: 2px 2px 5px #c1c1c1;
	width: 140px;
	/*position: absolute;*/
	position: fixed;
	background-color: #fff;
	text-align: left;
	z-index: 9;
}

.listTable .child-menu>ul>li {
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.listTable .child-menu>ul>li a {
	color: #666;
}

.listTable .child-menu>ul>li:hover {
	background: #F0F0F0;
}

.listTable .listTable td.formHead p {
	border-left: 5px solid #459FFF;
	border-bottom: 1px dashed #89969F;
	padding: 4px;
	margin: 10px 0px;
	text-align: left;
	font-weight: lighter;
}


/* 弹出框iframe 唯一 能看到的class名：l-dialog-frame  类名:l-dialog-frame-tck */

.l-dialog-frame-tck {
	width: 500px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}


/* 弹出框div 唯一 能看到的class名：l-dialog l-dialog-win  类名:l-dialog-tck */

.l-dialog-tck {
	width: 500px;
	left: 0 !important;
	right: 0;
	margin: 0 auto;
}

.l-dialog-tck .l-dialog-table {
	width: 100%;
	table-layout: fixed !important;
}

.l-dialog-tck .l-dialog-table input[type="checkbox"],
.l-dialog-tck .l-dialog-table input[type="radio"] {
	margin-bottom: 5px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table {
	width: 100% !important;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content {
	overflow-y: auto;
	padding: 3px 15px;
	height: auto !important;
	max-height: 70vh;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table tr {
	font-size: 14px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) {
	text-align: start;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div {
	width: 100% !important;
	/*margin-top: 1px;*/
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.link.selectFile {
	background: #459FFF;
	padding: 2px 10px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.position,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.positions,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.user,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.users,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.org,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.orgs,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.role,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div input.roles {
	width: 80%;
	border-radius: 0;
	padding: 2px;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 13px;
	border: 1px solid #CCCCCC;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.position,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.positions,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.user,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.users,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.org,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.orgs,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.role,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.roles {
	background-color: #459FFF;
	color: #fff;
	padding: 0 10px;
	display: inline-block;
	height: 26px;
	line-height: 27px;
	text-align: center;
	width: 13.5%;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div .l-text {
	width: calc(100% - 2px) !important;
	border: 1px solid #CCCCCC
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div .l-text .l-text-field {
	width: calc(100% - 8px) !important;
	height: 21px !important;
	padding-left: 10px;
	font-size: 13px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger {
	height: 23px !important;
	right: 0;
	top: -1px;
	background: #459FFF;
	border: 1px solid #459FFF;
	width: 10px !important;
	cursor: default;
}
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger-hover,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) .l-trigger-pressed {
	background: #459FFF !important;
	border: 1px solid #459FFF !important;
	width: 10px !important;
	height: 23px !important;
	right: 0;
	top: -1px;
	cursor: default;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .headRow {
	text-align: start;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .inputText,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table select,
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table textarea {
	width: 100% !important;
	border: 1px solid #CCCCCC;
	border-radius: 0px;
	box-sizing: border-box;
	padding-left: 10px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table .Wdate {
	border-radius: 0px;
	box-sizing: border-box;
	padding: 2px;
	height: auto;
	width: 100%;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table select {
	line-height: 20px;
	padding: 2px 2px 2px 6px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons {
	background: #fff;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons .l-dialog-btn-inner {
	background-color: #459FFF;
	color: #fff;
	border-radius: 3px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-buttons .l-dialog-btn-inner .l-dialog-btn {
	margin-right: 17px;
}

.l-dialog-frame-tck {
	display: none !important;
}

/* 新增 */
.listTable tr.listRow td {
	padding: 10px 0;
}
.formTable-wrap.one .formTable .l-trigger,
.formTable-wrap.one .formTable .l-trigger-hover,
.formTable-wrap.one .formTable .l-trigger-pressed,
.formTable-wrap.four .formTable .l-trigger,
.formTable-wrap.four .formTable .l-trigger-hover,
.formTable-wrap.four .formTable .l-trigger-pressed {
	right:0px;
}

.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2) {
	position: relative;
	padding: 5px 2px !important;
}
.l-dialog-tck div.attachement {
	margin-bottom: 25px;
}
.l-dialog-tck .l-dialog-table .l-dialog-body .l-dialog-content table td:nth-child(2)>div a.link.selectFile {
	position: absolute;
	bottom: 0;
	left: 0;
}
input[type="checkbox"]:disabled::before,
input[type="radio"]:disabled::before {
	background: #ececec;
}
.formTable .formInput div[name="div_attachment_container"] a.link {
	bottom: 0;
	top: auto;
}



/* 表类名 */
.sub-complete-grid {
	width: 60%;
	padding: 30px 60px;
	margin: 0 auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fff;
}
.sub-complete-grid  .table-grid th {
	border: 1px solid #EBEEF5;
	background-color: #F5F7FA;
	font-size: 14px;
	color: #4D4D4D;
	text-align: center;
	font-weight: lighter;
}
.sub-complete-grid .table-grid td {
	border: 1px solid #EBEEF5;
	text-align: center;
	font-size: 14px;
	word-break: break-word;
	line-height: 15px;
	padding: 10px 0;
}

/*图标*/
.listTable tr.special-td a:first-child{
	background: url(../images/up.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(2){
	background: url(../images/down.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(3){
	background: url(../images/before.png) no-repeat left center;
}
.listTable tr.special-td a:nth-child(4){
	background: url(../images/after.png) no-repeat left center;
}
.listTable tr.special-td a:last-child{
	background: url(../images/del.png) no-repeat left center;
}
.listTable .oprate-item a.oprate {
	background: url(../images/more.png) no-repeat left center;
}
.listTable .oprate-item a.oprate-xs {
	background: url(../images/more.png) no-repeat left center;
}
a.download{
	background:url(../images/arrow.png) 0 1px no-repeat;
	display:inline-block;
	height:14px;
	margin-left:8px;
	overflow:hidden;
	width:14px;
	text-decoration:none;
}
a.cancel{
	background:url(../images/cancel.png) 0 1px no-repeat;
	display:inline-block;
	height:14px;
	margin-left:8px;
	overflow:hidden;
	width:14px;
	text-decoration:none;
}

/*编辑模式*/
.view .formTable-wrap{
	width:100%;
	padding:0px;
}
.view .formTable input[type="text"],.view .formTable select {
	width: 90%;
	margin-top: 20px;
}
.view table.formTable, .view td.teamHead,.view td.formTitle,.view td.formInput{
	border:1px  solid #000;
}

div[type="subtable"]  table span.attachement-span {
	display: inline-block;
	padding: 1px 3px 1px 5px;
	max-width: 100%;
	margin: 0 10px;
}
div[type="subtable"]  table span.attachement-span > span {
	display: inline-block;
}
div[type="subtable"]  table span.attachement-span > span a.attachment {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
}
div[type="subtable"] table span.attachement-span > a.download {
	margin-left: -2px;
}

.listTable td.formInput textarea {
	font-size: 14px;
	padding-left: 10px;
	border: 1px solid #ced7e0;
	width: 95%;
}
.listTable td.formInput .l-text-wrapper {
	height: auto !important;
	width: 96% !important;
}
.listTable td.formInput .l-text-wrapper .l-text {
	width: 100% !important;
	height: 30px !important;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #ced7e0;
}
.listTable td.formInput .l-text-wrapper .l-text input {
	width: 96% !important;
	height: 32px !important;
}
.listTable td.formInput .l-text-wrapper .l-text .l-trigger,
.listTable tr.listRow td .l-text-wrapper .l-text .l-trigger {
	height: 34px !important;
	top: -1px;
	right: -1px;
	background: #459FFF;
	border: 1px solid #459FFF;
}
.listTable td.formInput > div input.role,
.listTable td.formInput > div input.roles,
.listTable td.formInput > div input.user,
.listTable td.formInput > div input.users,
.listTable td.formInput > div input.org,
.listTable td.formInput > div input.orgs,
.listTable td.formInput > div input.position,
.listTable td.formInput > div input.positions,
.listTable tr.listRow td > div input.role,
.listTable tr.listRow td > div input.roles,
.listTable tr.listRow td > div input.user,
.listTable tr.listRow td > div input.users,
.listTable tr.listRow td > div input.org,
.listTable tr.listRow td > div input.orgs,
.listTable tr.listRow td > div input.position,
.listTable tr.listRow td > div input.positions {
	width: 90%;
	height: 30px;
	padding: 2px;
	border: 1px solid #ced7e0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.listTable td.formInput > div a.role,
.listTable td.formInput > div a.roles,
.listTable td.formInput > div a.user,
.listTable td.formInput > div a.users,
.listTable td.formInput > div a.org,
.listTable td.formInput > div a.orgs,
.listTable td.formInput > div a.position,
.listTable td.formInput > div a.positions,
.listTable tr.listRow td > div a.role,
.listTable tr.listRow td > div a.roles,
.listTable tr.listRow td > div a.user,
.listTable tr.listRow td > div a.users,
.listTable tr.listRow td > div a.org,
.listTable tr.listRow td > div a.orgs,
.listTable tr.listRow td > div a.position,
.listTable tr.listRow td > div a.positions {
	padding: 0 13px;
	height: 37px;
	display: inline-block;
	background: #459FFF;
	line-height: 37px;
	color: #fff;
	font-size: 14px;
}
.listTable td.formInput div[name="div_attachment_container"] {
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 40px;
}
.listTable td.formInput div[name="div_attachment_container"] a.link {
	left: 6px;
}
.listTable td.formInput div[name="div_attachment_container"] a.link,
.listTable tr.listRow td div[name="div_attachment_container"] a.link {
	position: absolute;
	top: auto;
	bottom: 0;
	line-height: 36px;
	height: 36px;
	padding: 0 15px;
	background: #459FFF;
	color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.listTable td.formInput select {
	width: 96.5%;
	font-size: 14px;
	padding-left: 10px;
	padding: 2px 10px;
	border: 1px solid #ced7e0;
}
.listTable td.formInput input[type="checkbox"],
.listTable td.formInput input[type="radio"] {
	width: 20px !important;
}
.listTable td.formInput input.Wdate {
	height: 36px;
}
.l-tab .l-tab-l {
	position: fixed;
	height: 400px;
	background: #fff;
	width: 150px;
	top: 110px;
	border: 1px solid #eee;
}


.l-tab-l .l-tab-links {
	position: relative;
	top: 0;
	right: 0;
	background: #fff;
}


.l-tab-l .l-tab-links ul {
	position: relative;
	width: 100%;
	background: #fff;
	height: auto;
}


.l-tab-l .l-tab-links li {
	position: relative;
	width: 100%;
	margin: 0;
	background: #e8f0fe;
}


.l-tab-l .l-tab-links li a {
	color: #000;
	width: 100%;
	display: block;
	padding: 0;
	text-align: center;
}


.l-tab-l .l-tab-links li.l-selected {
	background: #459FFF;
}


.l-tab-l .l-tab-links li.l-selected a {
	background: none;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 0;
	border-radius: 0;
}
.formTable-wrap {
	margin-top: 30px;
}

table.listTable tr.listRow td {
	border: none;
	white-space: nowrap;
	padding: 0 5px;
}

table.listTable tr.listRow td .select2-container{
	width: auto !important;
}

table.listTable tr.listRow td .select2-container .select2-choice{
	width: 120px;
}

table.listTable tr.listRow td .select2-container .select2-choice{
	width: 120px;
}

table.listTable tr.listRow td .select2-container .select2-choices{
	width: 200px;
	padding-right: 0;
}

table.listTable tr.listRow td .link {
	height: 35px !important;
	line-height: 35px !important;
	vertical-align: middle;
}

/* 移动端 */
@media only screen and (max-width:480px) {
	.noprint > table.table-grid {
		width:100% !important;
	}
	.listTable .child-menu {
		padding-left: 5px;
		width: 85px;
	}
	.listTable .child-menu>ul>li a {
		font-size: 12px;
		diaplay: block;
	}
	div[type="sub"] {
		width: 100%;
		padding: 0px 15px;
		box-sizing: border-box;
		clear: both;
	}

	.panel-toolbar a.link {
		padding: 0 7px;
	}
	.sub-complete-grid {
		width: 100% !important;
		box-sizing: border-box;
		clear: both;
		border-radius: 0;
		padding: 10px !important;
	}
	.sub-complete-grid .table-grid {
		table-layout: fixed;
	}
	.sub-complete-grid .table-grid th {
		height: auto;
		line-height: 25px;
		white-space: pre-wrap;
	}
	.formTable-wrap.three .formTable td.formTitle{
		text-align: left;
	}
	.panel-toolbar a.print {
		display:none;
	}
	.formTable-wrap {
		width: 100%;
		padding: 0px 15px;
		box-sizing: border-box;
		clear: both;
	}
	.formTable td.formTitle {
		/*width: 100% !important;*/
		display: block;
		text-align: left;
		padding-bottom: 0px;
		overflow: hidden;
	}
	.formTable td.formInput>div>a.link {
		right: -1px;
	}
	.formTable tbody#qt>tr>td.formInput {
		width: calc(100% - 35px);
	}
	.formTable td.formInput {
		display: block;
		width: 100% !important;
		padding-left: 0px;
		margin-bottom: 0px;
		padding-bottom: 10px;
		margin-top: 8px;
	}
	.formTable td.teamHead p {
		width: 100%;
	}
	.formTable td.formInput label {
		margin-top: 3px;
		margin-bottom: 5px;
	}
	.content,
	div[type="subtable"] {
		width: 100%;
		padding: 0px 15px;
		box-sizing: border-box;
	}
	div[type="subtable"]:last-of-type {
		padding: 0 15px 20px;
	}
	.l-tab-links {
		right: 0;
	}
	.l-dialog-tck {
		width: 100%;
		position: fixed;
		top: 10% !important;
	}
	.listTable td.formInput input {
		box-sizing: border-box;
	}
	.listTable td.formTitle {
		width: 50px !important;
		word-break: break-word;
	}
	.panel-toolbar {
		float: right;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		padding: 15px 0;
	}
	.panel-toolbar a.link span {
		display: none;
	}
	.panel-toolbar a.close {
		background: none !important;
	}
	.group {
		float: right;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-top: 2px;
	}
	.formTable .l-trigger,
	.formTable .l-trigger-hover,
	.formTable .l-trigger-pressed {
		right: -1px !important;
	}
	.formTable td.formInput>div>a.link {
		right: 1px !important;
	}
	div[type="subtable"] table {
		table-layout: fixed;
	}
}

/*子表自适应样式*/
.firstRow.last-title {
	width:100%;
	line-height: 30px;
}
.last-title .formHead {
	color: #363E62;
	font-size: 18px;
	padding-bottom: 15px;
}
.last-title .formHead p {
	border-bottom: 1px dashed #89969F;
	padding-bottom: 5px;
	margin: 10px 0px 25px 0px;
	text-align: left;
}
.last-title .formHead span {
	border-left: 5px solid #459FFF;
	padding: 0px 8px;
}
.chooseJumpType {
	clear: both;
	display: inline-block;
}
.chooseJumpType span {
	display:inline-block;
}
.noprint > table.table-grid {
	margin: 0 auto;
	margin-top: 10px;
	width: 70%;
}

.listTable .listRow .oprate-item .oprate-inner.mobile{
	display:none;
}

.listTable .listRow .oprate-item .oprate-inner{
	display:inline-block;
}

.panel-toolbar .toolBar .mobileLogo {
	display:none;
}

.panel-toolbar .toolBar > div.flowLogo {
	float: left;
	width: 25%;
}
.panel-toolbar .toolBar > div.flowButton {
	float: left;
	width: 75%;
}

.formTable-wrap .formInput > span {
	display: inline-block;
	width: 100%;
	line-height: 30px;
	background-color: #F0F0F0;
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	padding-left: 15px;
	min-height: 30px;
}

.formTable-wrap .attachement span {
	display: inline-block;
	line-height: 30px;
	background-color: #F0F0F0;
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	padding-left: 15px;
	min-height: 30px;
}

.status-img {
	position: absolute;
	left: 75%;
	top: 16%;
}

/* 重写select2样式 */
.select2-container{
	position: relative;
	box-sizing: border-box !important;
	padding: 0;
	min-height: 35px;
	line-height: 35px;
	border: 1px solid #E6E6E6;
	border-radius: 3px;
	overflow: hidden;
}

.select2-container .my-select2-clear{
	position: absolute;
	right: 4px;
	top: 9px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	background: url(../../techblue/css/select2-3.5.4/select2.png) right top no-repeat;
	cursor: pointer;
}

.select2-container .my-select2-clear:hover{
	background-position: right -11px;
}

.select2-container .select2-arrow{
	display: none !important;
}

.select2-container .select2-choice{
	padding-left: 15px;
	height: auto;
	border: none;
	background: none;
}

.select2-container .select2-choice .select2-chosen{
	padding: 0;
	height: auto;
	line-height: 33px;
	border: none;
	background: none;
}

.select2-container .select2-choices{
	background-image: none;
	border: none;
}

.select2-container .select2-choices .select2-search-field{
	line-height: 33px !important;
}

.select2-container .select2-choices .select2-input{
	padding: 0 0 0 15px !important;
	height: 33px;
	margin: 0 !important;
	line-height: 33px;
}

.table-scroll {
	width:100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.formInput .select2-container{
	display: block;
	width: auto !important;
	margin-right: 54px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

@media only screen and (max-width:768px){
	.panel-toolbar .toolBar .mobileLogo {
		display:block;
		padding-left:15px;
	}
	.panel-toolbar .toolBar .pcLogo {
		display:none;
	}

	.panel-toolbar .toolBar > div.flowLogo {
		float: left;
		width: 15%;
	}
	.panel-toolbar .toolBar > div.flowButton {
		float: left;
		width: 85%;
	}

	.listTable .listRow .oprate-item .oprate-inner{
		display:none;
	}
	.listTable .listRow .oprate-item .oprate-inner.mobile{
		display:inline-block;
	}

	.headRow th,
	.listRow td {
		min-width: 150px;
	}
	div[type="subtable"] table {
		table-layout:auto !important;
		overflow-x: scroll;
		min-width: 100%;
	}
	.l-tab-l {
		position: relative !important;
		float: left;
		height: auto !important;
		width: 100% !important;
		top: 0 !important;
	}
	.l-tab-l .l-tab-links {
		top: 0 !important;
		right: 0 !important;
	}
	.l-tab-l .l-tab-links li {
		width: 50%;
	}

	.status-img {
		position: absolute;
		left: 70%;
		top: 20%;
	}
}